
/***** COMTPE CLIENT *****/

div#cxpmClientAccountWidget {
    display: inline-block;
    margin-right: 18px;
    font-family: Open Sans,sans-serif;
    position:absolute;
    left:inherit!important;
    right:190px;
    background: rgba(0,0,0,.15);
    height:31px;
    padding-left:15px;
}

#cxpmClientAccountWidget .not-logged .widget-text span a{
	font-size: 12px;
    text-transform: uppercase;
	    letter-spacing: 0.05em;
}

#cxpmClientAccountWidget .widget-my-selection i.cap-icon-shopping_basket {
    font-size: 20px;
}

div#cxpmClientAccountWidget .not-logged a, div#cxpmClientAccountWidget .logged a {
    color: rgb(255,255,255,0.7);
}

div#cxpmClientAccountWidget .logged span#widgetFirstname {
    font-size: 13px;
    color:#ffffff;
}
div#cxpmClientAccountWidget .logged span#widgetFirstnameText {
    font-size: 13px;
    color:#ffffff;
}

#cxpmClientAccountWidget .logged .widget-text span a.widgetCapLogout {
    font-size: 0.45em;
	color: #afafaf;
}

#cxpmClientAccountWidget .widget-my-selection .widget-icon{
    padding: 0 2px 0px 0px;
}

#cxpmClientAccountWidget .widget-my-selection .widget-icon>span.number, #cxpm-connect-sso-dropdown .widget-my-selection .widget-icon>span.number {
        color: #fff;
    font-weight: 700;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 9px;
    border-radius: 50%;
    background-color: #df306c;
    padding-left: 0;
    position: absolute;
    right: 3px;
    bottom: 5px;
    line-height: 16px;
}
#cxpmClientAccountWidget .widget-text span a:hover, #cxpm-connect-sso-dropdown .widget-text span a:hover {
    color: #ffffff !important;
}

#cxpmClientAccountWidget .widget-icon:hover, #cxpm-connect-sso-dropdown .widget-icon:hover {
    color: initial;
}


#cxpmClientAccountWidget .widget-icon {
    padding: 9px 5px 0!important;
    position: relative;
    height: 35px;
    display: block;
    margin-right:10px;
}

#cxpmClientAccountWidget .widget-my-selection .cap-icon-shopping_basket:before {
    content: ""!important;
    background-image: url(/theme/gourmet_git_desktop/img/icons/icon-bagcompte-blanc.svg);
    background-repeat: no-repeat;
    background-size: 18px auto;
    background-position: center;
    background-size:60%;
    width: 20px;
    height: 19px;
    display: block;
    margin-top:-2.5px;
    opacity:0.7;
}

#cxpmClientAccountWidget .widget-text span a, #cxpm-connect-sso-dropdown .widget-text span a {
    font-size: 16px;
    margin-top: -5px;
    display: block;
    margin-top: -9px;
}

header.site-banner #cxpmClientAccountWidget i.cap-icon-user-circle-o{
	vertical-align: middle;
	display: inline-block;
	background-image: url(/theme/gourmet_git_desktop/img/icons/icon-usercompte-blanc.svg);
	background-repeat: no-repeat;
	background-size: 15px;
	width: 17px;
	height: 17px;
	margin-right:8px;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	padding-right: 7px;
	padding-top: 0px;
	margin-top: 0px;
	float: left;
	opacity:0.7;
	margin-top: 6px;
	}

#cxpmClientAccountWidget .widget-text span a .cap-icon-user-circle-o:before {
    content: "";
}


#cxpmClientAccountWidget .widget-text, #cxpm-connect-sso-dropdown .widget-text {
    padding-top: 0px;
}
